@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightslategray;
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main__wrapper {
  background-color: hsl(33, 100%, 98%);
  padding: 20px 30px 30px 30px;
  border-radius: 8px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart {
  display: flex;
  gap: 1rem;
  /* margin-bottom: 20px; */
}

.chart > * {
  background-color: hsl(25, 47%, 15%);
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.days {
  display: flex;
  gap: 3rem;
  margin: 30px 0;
}

h1 {
  margin-bottom: 50px;
}

hr {
  margin-bottom: 20px;
}

.total__amount p {
  margin-bottom: 10px;
}
